.container {
  /* center div */
  margin: 6rem auto;
  width: 80%;
}

.post {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.post:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .post {
    display: block;
    padding: 1rem 1rem;
  }
}
