.wrapperClass {
  /* padding: 1rem; */
  /* border: 1px solid #ccc; */
}
.editorClass {
  background-color: white;
  color: black;
  padding: 1rem;
  /* border: 1px solid #ccc; */
}
.toolbarClass {
  /* border: 1px solid #ccc; */
  color: black;
}

.preview {
  min-height: 100px;
}
